<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- ... -->
		<add key="IPAddress" value="161.200.135.228" />
		<add key="Username" value="sftp_user_idm1" />
		<add key="Password" value="8KN#vFv!&amp;?" />
		<add key="Port" value="22" />
		<add key="Portal" value= "admin"/>
		<add key="DefaultValue_emailDomain" value= "@chula.ac.th"/>
		<add key="DefaultValue_emailDomainForStudent" value= "@student.chula.ac.th"/>
		<add key="DefaultValue_userprincipalname" value= "[uid]@win.chula.ac.th"/>
		<add key="DefaultValue_mailhost" value= "pelican.it.chula.ac.th"/>
		<add key="DefaultValue_mailhostForStudent" value= "angelos.it.chula.ac.th"/>
		<add key="DefaultValue_mailRoutingAddress" value= "[uid]@pelican.it.chula.ac.th"/>
		<add key="DefaultValue_mailRoutingAddressForStudent" value= "[uid]@angelos.it.chula.ac.th"/>
		<add key="DefaultValue_maildrop" value= "[uid]@pelican.it.chula.ac.th"/>
		<add key="DefaultValue_maildropForStudent" value= "[uid]@angelos.it.chula.ac.th"/>
		<add key="DefaultValue_homeDirectory" value= "/data1/home/[path]/[uid]"/>
		<add key="DefaultValue_loginShell" value= "/bin/sh"/>
		<add key="DefaultValue_nsaccountlock" value= "FALSE"/>
		<add key="DefaultValue_nsaccountlockForTemporaryAccount" value= "TRUE"/>
		<add key="DefaultValue_nsaccountlockForOneDayAccount" value= "FALSE"/>
		<add key="DefaultValue_miWmprefCharset" value= "UTF-8"/>
		<add key="DefaultValue_miWmprefReplyOption" value= "fwd_inline"/>
		<add key="DefaultValue_miWmprefTimezone" value= "Asia/Bangkok"/>
		<add key="DefaultValue_inetCOS" value= "novpn-500|vpn-500|novpn-200|vpn-200"/>
		<add key="DefaultValue_inetCOSForStudent" value= "novpn-200"/>
		<add key="DefaultValue_inetCOSForTemporaryAccount" value= "novpn-200"/>
		<add key="DefaultValue_SCE_Package" value= "normal"/>
		<add key="DefaultValue_OU_Filter" value= "student,staff,affiliate,outsider,internet,tmpacc"/>
		<add key="DefaultValue_ManageDistinguishNameIsLeafNodeList" value= "o=internet,dc=chula,dc=ac,dc=th|o=tmpacc,dc=chula,dc=ac,dc=th"/>
		<add key="DefaultValue_SchemaClassNameList" value= "automountMap|builtinDomain|chulaInfo|container|cosPointerDefinition|cvpn3000-user-authorization|domain|domainDNS|groupOfCertificates|groupOfCertificates|groupOfUniqueNames|groupOfUrls|mailrecipient|mirapointMailUser|mirapointUser|nsFilteredRoleDefinition|nsManagedRoleDefinition|organization|organizationalperson|organizationalUnit|posixaccount|referral|top"/>
		<add key="TableReceiveAccount_ServerName" value= "pylorus.it.chula.ac.th"/>
		<!-- ... -->
	</appSettings>
	<connectionStrings>
		<add name="DBContext" connectionString="Data Source=.\SA;Initial Catalog=DSM;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.20168.4" newVersion="2.0.20168.4" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>